<div class="container-fluid" style="">
    <div class="row">
        <nav class="navbar navbar-default" >
            <div class="container-fluid" id="my-nav-header" style="width: 100%;">
                <a href="index.html">
                    <img id="logo-header" src="/images/logo.png">
                    <p class="slogan-header">
                        <i>Nơi bạn có thể mua hàng với giá rẻ nhất</i>
                    </p>
                </a>
                <form class="navbar-form navbar-center" style="display: inline-table;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" style="width: 380px; height: 35px; border-radius: unset;">
                    </div>
                    <button type="submit" class="btn btn-default" style="height: 35px; border-radius: unset;">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
                <ul class="nav navbar-nav navbar-right" id="my-menu-in-header">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">Liên hệ chúng tôi</a>
                    </li>
                    {{#if layoutModels.isLogged }}
                        <li><a href="/produces/add">Đăng bán</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Quản lý<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/profile">SP đang đấu giá</a></li>
                                <li><a href="/account/profile">SP yêu thích</a></li>
                                <li><a href="javascript:;">SP đấu giá thành công</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Hi,&nbsp; <b>{{ layoutModels.curUser.name }}</b> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/account/profile">Thông tin cá nhân</a></li>
                                <li><a href="/account/profile">Đổi mật khẩu</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="logoutLink" href="javascript:;">Đăng xuất</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li><a href="/user/dangnhap">Đăng nhập</a></li>
                        <li><a href="/user/dangky">Đăng ký</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div id="menu" style="width: 100%;">
        </div>
    </div>
</div>