{{#section 'css'}}

{{/section}}
<div class="status-page">
    <p>
        <a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a>
    </p>
</div>
<div class="row" id="rowDis">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 id="title">{{id}}</h2>
                    <form>
                        <div class="form-group" style="margin-bottom: 0px;">
                            <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email của bạn">
                            <span id="msgEmail" class="errorMsg"></span>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px;">
                            <input type="password" class="form-control" id="txtPassWord" name="txtPassWord" placeholder="Mật khẩu">
                            <span id="msgMk" class="errorMsg"></span>
                        </div>
                        <div class="form-group" style="margin-bottom: 0px;">
                            <input type="password" class="form-control" id="txtRepPassWord" name="txtRepPassWord" placeholder="Nhập lại mật khẩu">
                            <span id="msgNlMk" class="errorMsg"></span>
                        </div>
                        <div class="checkbox" id="reminder">
                            <label>
                                <input id="cb_remider" name="cb_remider" type="checkbox"> Tôi đồng ý với <!-- /react-text --><a id="a_reminder" href="javascript:;">Điều khoản sử dụng của PPT</a>
                            </label>
                            <span id="msgRemider" class="errorMsg"></span>
                        </div>
                        <button id="btn_signUp" type="submit" class="btn btn-primary btn_submit" style="width: 100%;">Đăng ký ngay</button>
                        <!-- <span id="msg" class="errorMsg" style="display: none;">Đăng ký thất bại: Email đã tồn tại hoặc mật khẩu bị sai</span> -->
                    </form>
                    <div style="margin-bottom: 50px;"></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div><!--panel-->
    </div>
    <div class="col-md-3"></div>
</div>

{{#section 'js'}}
    <script>

    </script>
{{/section}}