<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top: 20px;">
        <div class="panel panel-success">
            <div class="panel-heading" >
                <form method="post" action="/home/dangnhap" class="form-horizontal" style="padding: 20px 20px 40px 20px;">
                    <h2 style="text-align: center; margin-bottom: 30px">Đăng nhập</h2>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="txt_email" name="txt_email" type="email" class="form-control" placeholder="Email của bạn">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="txt_pass" name="txt_pass" type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Đăng nhập</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align: center">
                            <a href="dangky" class="sec">Đăng ký</a>
                            <span role="separator" aria-hidden="true"> · </span>
                            <a name="forgotPassWork" href="#" class="sec">Quên mật khẩu</a>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--panel-->
    </div>
    <div class="col-md-3"></div>
</div>