<!DOCTYPE html>
<html>
<head>
	<title>Đăng bán</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/header.css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/footer.css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/postProduct.css">
</head>
<body>
	<div class="container-fluid" >
		<header class="header">
			<nav class="navbar navbar-default" >
				<div class="container-fluid" id="my-nav-header">
					<a href="index.html">
						<img id="logo-header" src="../public/images/logo.png">
						<p class="slogan-header">
							<i>Nơi bạn có thể mua hàng với giá rẻ nhất</i>
						</p>
					</a>
					<ul class="nav navbar-nav navbar-right" id="my-menu-in-header">
						<li><a href="#" data-toggle="modal" data-target="#myModal">Liên hệ với chúng tôi</a></li>
						<li><a href="post.html">Đăng bán</a></li>
						<li><a href="signIn.html">Đăng nhập</a></li>
						<li><a href="signUp.html">Đăng ký tài khoản</a></li>
					</ul>
				</div>
			</nav>
			<div class="status-page">
				<p>
					<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a>
				</p>
			</div>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="noi-dung-lien-he">

							<div class="row">
								<div class="col-md-8" style="text-align: right;">
									<p class="cv-ten-cong-ty">CÔNG TY BA THÀNH VIÊN</p>
									<P class="cv-mo-ta-cong-ty">Công ty đấu giá chất lượng</P>
								</div>
								<div class="col-md-4">

								</div>
							</div>
							<div class="row">
								<div class="col-md-5">

								</div>
								<div class="col-md-7" style="text-align: left;">
									<p class="cv-so-dien-thoai">SĐT: (+84)917 645 531</p>
									<P class="cv-email">EMAIL: vspabcd@gmail.com</P>
									<P class="cv-email">FACEBOOK: /nhom3nguoi</P>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="col-sm-3 col-md-3">
				
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<p id="title">Soạn bài viết</p>
					</div>
					<div class="panel-body">
						<div class="row">

							<div class="col-sm-10 col-md-10">
								<label class="title2">Danh mục sản phẩm</label>
								<select class="form-control">
									<option>Điện thoại</option>
									<option>Ti Vi</option>
									<option>Laptop</option>
									<option>Điện lạnh</option>
									<option>Xe cộ</option>
								</select>
								<label class="title2">Tên sản phẩm</label>
								<input class="form-control" id="tenSanPham">

								<div class="row">
									<div class="col-sm-6 col-md-6">
										<label class="title2">Giá khởi điểm:</label>
										<input class="form-control" id="giaKhoiDiem">
									</div>
									<div class="col-sm-6 col-md-6">
										<label class="title2">Giá mua luôn:</label>
										<input class="form-control" id="giaMuaLuon">
									</div>
								</div>
								<label class="title2">Thời gian đấu giá</label>
								<br>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1 ngày
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 3 ngày
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 1 tuần
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> 2 tuần
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5"> 1 tháng
								</label>

								<div class="row">
									<div class="col-sm-6 col-md-6">
										<label class="title2">Hình ảnh sản phẩm</label>
										<input id="file-input" type="file" multiple>
										<hr>
										<div id="preview"></div>
									</div>
								</div>
								

								<hr>

								
							</div>
							
							<div class="col-sm-2 col-md-2">

							</div>
						</div>
						<label class="title2">Chi tiết sản phẩm</label>
						<textarea class="form-control" rows="10"></textarea>
						<button type="submit" id="button" style="margin-left: 500px;">Đăng bài</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				
			</div>
		</div>
		<footer class="footer">
			<div class="footer-content"></div>
			<div class="contain-image-contact">
				<a href="#">
					<img class="img-contact" src="../public/images/img-contact/img-facebook.png">
				</a>
				<a href="#">
					<img class="img-contact" src="../public/images/img-contact/img-twitter.png">
				</a>
				<a href="#">
					<img class="img-contact" src="../public/images/img-contact/img-google-plus.png">
				</a>
			</div>
			<p style="text-align: center; color: #E7EC9A; margin: 0px">1412396-1412401-1412612</p>
			<ul>
				<a href="#"><li class="footer-list-item">Trang chủ</li></a>
				<a href="#"><li class="footer-list-item">Thông tin bản quyền</li></a>
				<a href="#"><li class="footer-list-item">Công ty</li></a>
				<a href="#"><li class="footer-list-item">Liên hệ</li></a>
				<a href="#"><li class="footer-list-item">Đăng quảng cáo</li></a>
			</ul>
		</footer>
	</div>
	<script type="text/javascript" src="../../public/assests/jquery-3.2.0.min.js"></script>
	<script type="text/javascript">
		function previewImages() {

			var preview = document.querySelector('#preview');

			if (this.files) {
				[].forEach.call(this.files, readAndPreview);
			}

			function readAndPreview(file) {

    // Make sure `file.name` matches our extensions criteria
    if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    	return alert(file.name + " is not an image");
    } // else...
    
    var reader = new FileReader();
    
    reader.addEventListener("load", function() {
    	var image = new Image();
    	image.height = 100;
    	image.title  = file.name;
    	image.src    = this.result;
    	preview.appendChild(image);
    }, false);
    
    reader.readAsDataURL(file);
    
}

}

document.querySelector('#file-input').addEventListener("change", previewImages, false);
</script>
</body>
</html>