<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../public/assests/css/stylev2.css">
	<link rel="stylesheet" href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/signIn.css">
	
</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="nav--header__utility">
			<div class="container-fluid">
				<a href="index.html"><img class="logo" src="../public/images/logo.png"></a>
				<p style="display: inline-table; color: white"><i>Nơi bạn có thể mua hàng với giá rẻ nhất</i></p>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Liên hệ với chúng tôi</a>
					</li>
					<li>
						<a href="#">Đăng bán</a>
					</li>
					<li>
						<a href="signIn.html">Đăng nhập</a>
					</li>
					<li>
						<a href="signUp.html">Đăng ký tài khoản</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="status-page">
			<p>
				<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a>
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				<a href="#">Đăng nhập</a>
			</p>
		</div>
	</header>

	<div class="container-fluid" >

		<div class="row" id="rowDis">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body" >
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<h2 id="title">Đăng nhập</h2>
							<form>
								<div class="form-group">
									<input id="txtEmail" type="email" class="form-control" name="txtEmail" placeholder="Email của bạn">
								</div>
								<div class="form-group">
									<input id="txtPassWord" type="password" class="form-control" name="txtPassWord" placeholder="Mật khẩu">
								</div>
								<br>
								<button id="btn_signIn" type="submit" class="btn btn-primary" style="width: 100%;">Đăng nhập</button>
								<span id="msg" class="errorMsg" style="display: none;">Đăng nhập thất bại: Email hoặc mật khẩu bị sai</span>

							</form>
							<div id="linkLine">
								<a id="a_register" href="signUp.html" class="sec">Đăng ký</a>
								<span role="separator" aria-hidden="true"> · </span>
								<a id="forgotPassWork" name="forgotPassWork" href="javascript:;" class="sec">Quên mật khẩu</a>
							</div>
						</div>
						<div class="col-md-2"></div>

					</div>
				</div>

			</div>
			<div class="col-md-3"></div>
		</div>

	</div>
	<script type="text/javascript" src="../public/assests/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="../public/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('#btn_signIn').click(function() {
			var email = $('#txtEmail').val(),
			pw = $('#txtPassWord').val();
			if(email=='' || pw==''){
				$('#msg').show();
				return false;
			}
			else
			{
				window.location.href = "quanLyTinMua.html";
				return false;

			}
		});
		$( "#txtEmail" ).focus(function() {
			if($('#msg').show())
				$('#msg').hide();
		});
		$( "#txtPassWord" ).focus(function() {
			if($('#msg').show())
				$('#msg').hide();
		});
	</script>
</body>
</html>