<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/signIn.css">
</head>
<body>
	<nav class="navbar navbar-default" id="nav--header__utility">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li>	
					<a href="/iSynApp/manageUserEmail!showEmailContactUsForm.action?sid=1101701">
						Contact Us
					</a>
				</li>
				<li>	
					<a href="/iSynApp/showPage.action?sid=1101701&amp;pageName=sell">
						Sell
					</a>
				</li>
				<li>	
					<a href="/iSynApp/appUserLogin!input.action?sid=1101701">
						Login
					</a>
				</li>
				<li>	
					<a href="/iSynApp/appUserReg!input.action?sid=1101701">
						Register
					</a>
				</li>
			</ul>
		</div> <!-- .container-fluid -->
	</nav>

	<div class="container-fluid" >

		<div class="row" id="rowDis">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body" >
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<h2 id="title">Đăng nhập</h2>
							<form>
								<div class="form-group">
									<input id="txtEmail" type="email" class="form-control" name="txtEmail" placeholder="Email của bạn">
								</div>
								<div class="form-group">
									<input id="txtPassWord" type="password" class="form-control" name="txtPassWord" placeholder="Mật khẩu">
								</div>
								<br>
								<button id="btn_signIn" type="submit" class="btn btn-primary" style="width: 100%;">Đăng nhập</button>
								<span id="msg" class="errorMsg" style="display: none;">Đăng nhập thất bại: Email hoặc mật khẩu bị sai</span>

							</form>
							<div id="linkLine">
								<a id="a_register" href="signUp.html" class="sec">Đăng ký</a>
								<span role="separator" aria-hidden="true"> · </span>
								<a id="forgotPassWork" name="forgotPassWork" href="javascript:;" class="sec">Quên mật khẩu</a>
							</div>
						</div>
						<div class="col-md-2"></div>
						
					</div>
				</div>
				
			</div>
			<div class="col-md-3"></div>
		</div>

	</div>
	<script type="text/javascript" src="../public/assests/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="../public/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$('#btn_signIn').click(function() {
			var email = $('#txtEmail').val(),
			pw = $('#txtPassWord').val();
			if(email=='' || pw==''){
				$('#msg').show();
				return false;
			}
			else
			{
				window.location.href = "quanLyTinMua.html";
				return false;

			}
		});
		$( "#txtEmail" ).focus(function() {
			if($('#msg').show())
				$('#msg').hide();
		});
		$( "#txtPassWord" ).focus(function() {
			if($('#msg').show())
				$('#msg').hide();
		});
	</script>
</body>
</html>