<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trang cá nhân</title>
	<link rel="stylesheet" href="../public/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/header.css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/footer.css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/signIn.css">
	<link rel="stylesheet" type="text/css" href="../public/assests/css/thongTinCaNhan.css">
</head>
<body>
	<div class="container-fluid">
		<header class="header">
			<nav class="navbar navbar-default" >
				<div class="container-fluid" id="my-nav-header">
					<a href="index.html">
						<img id="logo-header" src="../public/images/logo.png">
						<p class="slogan-header">
							<i>Nơi bạn có thể mua hàng với giá rẻ nhất</i>
						</p>
					</a>
					<ul class="nav navbar-nav navbar-right" id="my-menu-in-header">
						<li><a href="#" data-toggle="modal" data-target="#myModal">Liên hệ với chúng tôi</a></li>
						<li><a href="#">Đăng bán</a></li>
						<li><a href="signIn.html">Đăng nhập</a></li>
						<li><a href="signUp.html">Đăng ký tài khoản</a></li>
					</ul>
				</div>
			</nav>
			<div class="status-page">
				<p>
					<a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a>
				</p>
			</div>

			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="noi-dung-lien-he">

							<div class="row">
								<div class="col-md-8" style="text-align: right;">
									<p class="cv-ten-cong-ty">CÔNG TY BA THÀNH VIÊN</p>
									<P class="cv-mo-ta-cong-ty">Công ty đấu giá chất lượng</P>
								</div>
								<div class="col-md-4">

								</div>
							</div>
							<div class="row">
								<div class="col-md-5">

								</div>
								<div class="col-md-7" style="text-align: left;">
									<p class="cv-so-dien-thoai">SĐT: (+84)917 645 531</p>
									<P class="cv-email">EMAIL: vspabcd@gmail.com</P>
									<P class="cv-email">FACEBOOK: /nhom3nguoi</P>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Thông tin cá nhân</h3>
					</div>

					<div class="panel-body" id="panel-1">
						<div class="col-md-3 row-center">
							<img id="avt-img" src="../public/images/avatar.png" >
							<h3>&nbsp;</h3>
							<h5>Độ tin cậy</h5>
							<img id="img_doTinCay" src="../public/images/star-prize/1-star.png" style="width: 80%;">
						</div>
						<div class="col-md-9">
							<form>
								<div class="form-group">
									<label for="exampleInputEmail1">Email của bạn</label>
									<input id="txtEmail" type="text" class="form-control" placeholder="Email của bạn" value="phucred253@gmail.com" disabled>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Số điện thoại</label>
									<input id="txtSdt" type="text" class="form-control" placeholder="Số điện thoại" value="" disabled>
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Địa chỉ</label>
									<input id="txtDiaChi" type="text" class="form-control" placeholder="Địa chỉ" value="" disabled>
								</div>
								<div class="button-inline">
									<a id="btn_chinhSua" href="thongTinCaNhan/chinhSua.html" class="btn btn-default">Chỉnh sửa
									</a>
									<a id="btn_doiMK" href="thongTinCaNhan/doiMk.html" class="btn btn-primary">Đổi mật khẩu</a>
									
								</div>
							</form>
						</div>
					</div>
				</div>
			</div><!--panel thong tin ca nhan-->
			<div class="col-md-3">
				<div class="panel panel-default" >
					<div class="panel-heading">
						<div class="col-md-4">
							<img id="vcoin-img" src="../public/images/vcoin.png">
						</div>
						<div class="rol-md-8">
							<div><h4>Tài khoản VCOIN</h4></div>
							<div><h3>0</h3></div>
						</div>
						
					</div>

					<div class="panel-body" id="panel-2">
						<div style="margin-bottom: 5px;">Các gói nạp</div>
						<table class="table table-hover table-bordered">
							<tr>
								<td>500.000</td>
								<td>500</td>
							</tr>
							<tr>
								<td>200.000</td>
								<td>200</td>
							</tr>
							<tr>
								<td>100.000</td>
								<td>100</td>
							</tr>
							<tr>
								<td>50.000</td>
								<td>50</td>
							</tr>
							<tr>
								<td>200.000</td>
								<td>20</td>
							</tr>
						</table>
						<a id="btn_napNgay" href="#" class="btn btn-warning">Nạp ngay</a>
					</div>
				</div>
			</div><!--panel ben phai col-md-3-->
			<div class="col-md-1"></div>
		</div>
		<footer class="footer">
			<div class="footer-content"></div>
			<div class="contain-image-contact">
				<a href="#">
					<img class="img-contact" src="../public/images/img-contact/img-facebook.png">
				</a>
				<a href="#">
					<img class="img-contact" src="../public/images/img-contact/img-twitter.png">
				</a>
				<a href="#">
					<img class="img-contact" src="../public/images/img-contact/img-google-plus.png">
				</a>
			</div>
			<p style="text-align: center; color: #E7EC9A; margin: 0px">1412396-1412401-1412612</p>
			<ul>
				<a href="#"><li class="footer-list-item">Trang chủ</li></a>
				<a href="#"><li class="footer-list-item">Thông tin bản quyền</li></a>
				<a href="#"><li class="footer-list-item">Công ty</li></a>
				<a href="#"><li class="footer-list-item">Liên hệ</li></a>
				<a href="#"><li class="footer-list-item">Đăng quảng cáo</li></a>
			</ul>
		</footer>
	</div>
	<script type="text/javascript" src="../public/assests/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="../public/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>