<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div style="width: 100%; margin-top: 100px;text-align: center; font-size: 20px;">
            Chúc mừng tài khoản <span style="color: #0000ff; font-style: italic">phuc@gmail</span> đã đăng ký thành công. <br>Chọn
            <a href='/user/dangnhap'> Đăng nhập </a> hoặc <a href="/home"> Trang chủ</a> để tiếp tục.
        </div>
    </div>
</body>
</html>