
.list-group-item{
    border: none;
    border-bottom: 2px #ddd solid;
}

/*định dạng cho header categories*/
.list-group-item.active, .list-group-item.active:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #ddd;
    background-color: #fff;
    color: #585858;
    text-align: left;
    height: 55px;
    line-height: 35px;
    font-size: 35px;
    font-weight: bolder;
}

list-group-item.active.lyphicon glyphicon-list.glyphicon-list{
    font-size: 28px !important;
    margin: 0;
}

.list-group-item>span{
    margin-left: 30px
}
.list-group-item>p{
    margin-left: 10px
}
a.list-group-item:hover{
    background-color: white;
    font-weight: bold;
    color: red;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
    border: none;
    border-bottom: 2px #ddd solid;
}

.list-group-item > p {
    display: inline-block;
}

/*khi đã chọn được item*/
a.list-group-item:focus {
    background-color: white;
    font-weight: bold;
    color: #dc514a;
}

/*định dạng cho item*/
a.list-group-item{
    font-weight: bold;
    color: #2ea15e;
    padding-left: 22px;
}
.list-group {
    margin-bottom: 15px;
}

/*định dạng cho panel categories*/
.panel-categories{
    margin-left: 25px;
    border:none;
}

.panel.panel-default{
    margin-left: 0 !important;
}