*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.row{
	width: 100% !important;
	margin: 0 !important;
}
body{
	font-size: 14px;
	font-family: Arial;
}
.container-fluid{
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
}
.slogan-header{
	display: inline-table;
}
.slogan-header:hover{
	transition: 0.5s;
	color: #00ff79;
}
.navbar-nav{
	margin-right: 0;
}
#my-nav-header{
	/*background-color: #ff502e;*/
	border-radius: unset;
	font-size: 14px;
	height: 100px;
	line-height: 100px;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}
#my-nav-header a{
	text-decoration: none;
}
#my-nav-header ul a{
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 15px;
	padding: 3px 10px 0px 10px;
}
#my-nav-header ul a:hover{
	transition: 0.2s;
	color: #eee;
}
.navbar-default .navbar-nav>.open>a{
	transition: 0.2s !important;
	color: #f8ff11 !important;
	background-color: #ff990e !important;
}
#logo-header{
	height: 60px;
}
.slogan-header{
	color: #f0f0f0;
	font-size: 16px;
}
#my-search-header{
	margin: 0 20px;
}
#txt_timKiem{
	width: 470px !important;
	height: 40px !important;
}
.header .navbar-default{
	margin: 0px;
}
.header .navbar-default{
	border: unset;
}
header{
	margin-bottom: 10px;
}
.navbar.navbar-default{
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0px;
	background-color: #ff502e;
}
.poster-quang-cao-01{
	width: 100%;
	height: 300px;
}
.anh-slide{
	width: 100%;
	height: 330px;
}
/*CSS FOR STATUS*/
.status-page{
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-left: 20px;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	font-family: 'Open sans', Arial;
	background-color: #234E63;
}
.status-page a{
	color: #212121;
	text-decoration: none;
	text-align: center;
}
.status-page .glyphicon-menu-right{
	color: #000;
}

/*MODAL DIALOG CARD VISIT*/
.modal-content{
	margin: 20% auto;
	height: 220px;
	width: 400px;
	background-color: #1B272E;
	border-radius: unset;
}
.noi-dung-lien-he{
	margin-top: 60px;
	padding-top: 10px;
	background-color: #329F95;
}
.noi-dung-lien-he p{
	font-family: 'Open sans', Arial;
	margin: 0px;
}
.cv-ten-cong-ty{
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.cv-mo-ta-cong-ty{
	font-size: 13px;
	color: white;
	font-weight: lighter;
}
.cv-so-dien-thoai{
	margin-top: 10px !important;
	font-size: 14px;
	color: white;
}
.cv-email{
	font-size: 14px;
	color: white;
}


#search-box{
	width: 380px;
	height: 40px;
	border-radius: unset;
	border: none;
}

#search-button{
	border-radius: unset;
	border: none;
	height: 40px;
	width: 40px;
}

.form-inline .form-group{
	margin-left: 50px;
}

.dropdown-menu a:hover{
	color: red !important;
}