#title{
	font-size: 30px;
	text-align: center;
}
body{
	background-color: #E4E8F0;
}
.title2{
	margin-top: 20px;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav--header__utility a{
	color: white;
}
/*thanh tren cung*/
#nav--header__utility{
	background-color: black;
	border-radius: unset;
	font-size: 14px;
	margin: 0px;
}
.logo{
	height: 40px;
	padding-top: 5px;
	padding-right: 10px;
}
.status-page{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 20px;
	font-family: 'Open sans', Arial;
	font-weight: bold;
	background-color: #FF3900;
}
.status-page a{
	color: #212121;
	text-decoration: none;
}
.status-page .glyphicon-menu-right{
	color: #000;
}
#button{
	background:    #3d85c6;
	background:    -webkit-linear-gradient(#3d85c6, #073763);
	background:    linear-gradient(#3d85c6, #073763);
	border-radius: 5px;
	color:         #fff;
	display:       inline-block;
	padding:       8px 20px;
	font:          normal 700 20px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	margin-top: 10px;

}