#title{
	font-size: 30px;
	text-align: center;
}
body{
	background-color: #E4E8F0;
}
.title2{
	margin-top: 20px;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#button{
	background:    #3d85c6;
	background:    -webkit-linear-gradient(#3d85c6, #073763);
	background:    linear-gradient(#3d85c6, #073763);
	border-radius: 5px;
	color:         #fff;
	display:       inline-block;
	padding:       8px 20px;
	font:          normal 700 20px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	margin-top: 10px;

}