
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
p{
	margin: 0;
}
a:hover{
	text-decoration: none;
	cursor: pointer;
}

.anh-san-pham{
	width: 300px;
	height: 300px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
}
.id, .seller, .sao-danh-gia, .chuoi-diem-so, .chuoi-thoi-gian, .anh-dong-ho{
	display: inline-block;
	margin: 0px;
}
.contain-id, .contain-seller{
	margin: 0px;
}
.id{
	font-weight: bold
}
a.seller{
	color: #E51C24;
}
.sao-danh-gia{
	height: 15px;
	margin-bottom: 4px;
}
.contain-point{
	line-height: 21px;
}
.clear-margin{
	margin: 0px;
}
.anh-dong-ho{
	height: 40px;
}
.chuoi-thoi-gian{
	font-size: 25px;
	font-weight: bold;
}
.contain-timer{
	margin-top: 10px;
	margin-bottom: 10px;
}
.money-of-rival{
	font-size: 22px;
	color: red;
}
.name-of-rival{
	color: #C64600;
}
.submit-dat-gia{
	margin-top: 15px;
	width: 200px;
}
.cus-button{
	margin-top: 8px;
}
.cus-button-bid{
	margin-top: 8px;
	margin-bottom: 20px;
	width: 120px;
}
.cus-input-money-text{
	margin-top: 8px;
	width: 200px;
}
.cus-header-table{
	font-size: 14px;
	font-weight: bold;
}
.cus-row-table{
	font-size: 13px;
}
.name-of-detail{
	color: #06070C;
}
.title-detail1{
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 25px;
}
.title-detail2{
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}
.content-detail{
	font-size: 15px;
}
.caption {
	border: 1px solid #DDDDDD;
	text-align: center;
	background-color: #EEEEEE;
	padding: 4px 4px 3px 4px;
	margin-right:auto;
	margin-left:auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.caption img {
	margin: 0px 0px 2px 0px;
	padding: 0px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;                 
}

.caption p.caption-text {
	padding: 0px;
	font-family: Arial, Sans-Serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 12px;
	margin-top: 10px;
}

.anh-slide{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.carousel-inner>.item>img{
	height: 500px;
}
.img-content{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
#nav--header__utility{
	background-color: black;
	border-radius: unset;
	font-size: 14px;
}
.logo{
	height: 40px;
	padding-top: 5px;
	padding-right: 10px;
}
.cus-bid-table{
	display: block;
	width: 457px;
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	table-layout: fixed;
}
table{
	table-layout: fixed;
}
td{
	word-wrap:break-word;
	border: none;
}
.slide-pick{
	padding-top: 5px;
	text-align: center;
}
.img-pick{
	width: 97px;
	height: 57px;
	display: inline-table;
}

.img-pick>img{
	width: 97px;
	height: 57px;
}
.img-slide{
	text-align: center;
}

#seller_email{
	display: inline-block;
	color: #ff850c;
	font-size: 14px;
}

div#product_name{
	margin-top: 30px;
	font-size: 25px;
}

/*.thong-tin-sp{*/
	/*height: 392px;*/
/*}*/

.display-inline-block{
	display: inline-block;
}

.thoi-gian-con-lai{
	width: 100%;
	height: 45px;
	background-color: #d42f37;
	text-align: left;
	line-height: 45px;
	padding-left: 10px;
	color: #ddd;
	margin-bottom: 10px;
}

.title-info{
	color: #717171;
	font-weight: bold;
}

.value-info{
	font-weight: 700;
}

.info-inline{
	margin-bottom: 10px;
}