*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	    background-image: url('../../images/bg.png');
}
#title{
	margin: 50px 0 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}
#linkLine{
	margin-top: 45px;
	text-align: center;
	padding-bottom: 50px;
}
#rowDis{
	padding-top: 50px;
	padding-bottom: 100px;
}
.errorMsg {
    display: block;
    color: #E82228;
    clear: both;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}