*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	    background-image: url('../../images/bg.png');
}
#nav--header__utility a{
	color: white;
}
#title{
	margin: 50px 0 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}
#linkLine{
	margin-top: 45px;
	text-align: center;
	padding-bottom: 50px;
}
#rowDis{
	padding-top: 50px;
	padding-bottom: 100px;
}
.errorMsg {
    display: block;
    color: #E82228;
    clear: both;
    font-size: 12px;
    margin-bottom: 15px;
}


/*thanh tren cung*/
#nav--header__utility{
	background-color: black;
	border-radius: unset;
	font-size: 14px;
	margin: 0px;
}
.logo{
	height: 40px;
	padding-top: 5px;
	padding-right: 10px;
}
.status-page{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 20px;
	font-family: 'Open sans', Arial;
	font-weight: bold;
	background-color: #FF3900;
}
.status-page a{
	color: #212121;
	text-decoration: none;
}
.status-page .glyphicon-menu-right{
	color: #000;
}