#panel-1{
	padding-top: 50px;
	padding-bottom: 50px;
}
#panel-2{
	padding-bottom: 47px;
}

#avt-img{
	width: 110px;
	height: 110px;
}
#vcoin-img{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}
.row-center{
	text-align: center !important;
}

#btn_chinhSua{
	width: 49.5% !important;
	border-color: #285F8E;
	 color: #285F8E; 
	 font-weight: bold;
}
#btn_doiMK{
	 width: 49.5% !important;
	  font-weight: bold;
}
#btn_luuThayDoi{
	width: 100% !important;
	font-weight: bold;
}
#btn_luuDoiMk{
	width: 100% !important;
	font-weight: bold;
}
#btn_napNgay{
	width: 100% !important;
	font-weight: bold;
}