<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/header.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/index.css">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/128/12/12195.png" type="image/x-icon" />
    {{{_sections.css}}}
</head>
<body>
    {{> navbar }}
    <div class="row">
        {{{_sections.quangCao}}}
    </div>
        {{{body}}}
    <footer class="footer">
        <div class="footer-content"></div>
        <div class="contain-image-contact">
            <a href="#">
                <img class="img-contact" src="/images/img-contact/img-facebook.png">
            </a>
            <a href="#">
                <img class="img-contact" src="/images/img-contact/img-twitter.png">
            </a>
            <a href="#">
                <img class="img-contact" src="/images/img-contact/img-google-plus.png">
            </a>
        </div>
        <p style="text-align: center; color: #E7EC9A; margin: 0px">1412396-1412401-1412612</p>
        <ul>
            <a href="#">
                <li class="footer-list-item">Trang chủ</li>
            </a>
            <a href="#">
                <li class="footer-list-item">Thông tin bản quyền</li>
            </a>
            <a href="#">
                <li class="footer-list-item">Công ty</li>
            </a>
            <a href="#">
                <li class="footer-list-item">Liên hệ</li>
            </a>
            <a href="#">
                <li class="footer-list-item">Đăng quảng cáo</li>
            </a>
        </ul>
    </footer>
    <script type="text/javascript" src="/assests/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>
</html>